@tailwind base;
@tailwind components;
@tailwind utilities;

.dtr-details{
    width: 100%;
}
.dtr-details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dt-search{
    display: flex;
    align-items: center;
}

.dt-search input{
    font-size: 1rem;
    color: #4B5563;
    background-color: transparent;
    border:none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #CBD5E0 !important;
    outline: none;
    transition: border-color 0.3s;
}

.dt-search input:focus {
    border-color: #000 !important;
    box-shadow: none !important;
}

.dt-search label {
    font-size: 1rem;
    color: #4B5563;
    opacity: 0.5;
}
.dt-length{
    display: flex;
    align-items: center;
}
.dt-length label{
    margin-left: 15px;
    text-wrap: nowrap;
}

.table{
    width: 100% !important;
}

mark{
    background:#1F2937;
    color:white;
}

/* Warning toast */
.toast-warning {
    background-color: #FFA500; /* Orange */
    color: #FFF; /* White */
}
/* Success toast */
.toast-success {
    background-color: #32CD32; /* Lime Green */
    color: #FFF; /* White */
}
/* Error toast */
.toast-error {
    background-color: #FF6347; /* Tomato */
    color: #FFF; /* White */
}

.teal {
    accent-color: rgb(13 148 136);
  }

  .select2 {
    @apply  block px-6 pt-6 pb-1 text-gray-800 appearance-none  bg-transparent border-b-2 border-gray-800 
  }
  .select2-selection{
    outline: none;
    border: none !important;
  }

  
  div.dt-container .dt-paging .dt-paging-button a{
    border: none;
    border-radius: 10px;
    color: #1F2937;
}

div.dt-container .dt-paging .dt-paging-button:hover a{
    background-color: #1F2937;
    color: #CBD5E0;
}

div.dt-container .dt-paging .active a {
    background-color: #111827;
    color: #CBD5E0;
}

div.dt-container .dt-paging .dt-paging-button:hover {
      background: none !important;
      border: none !important;
}

div.dt-container .dt-paging .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-with-scrollbar {
    overflow: hidden;
    
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
/* Note: This may not work in future versions of Webkit browsers */
.element-with-scrollbar::-webkit-scrollbar {
    width: 0;
    display: none;
}